.quizContainer{
    margin-top: 10%;
}
.ques{
    font-size: 40px;
}

.qno{
    font-size: 30px;
}

.options{
    margin-top: 30px;
    border: 2px solid black;
    font-size: 30px;
    border-radius: 40px;
    text-align: center;
    background-color: #D3D3D3;
    box-shadow: 3px 3px black;
}

#score{
    float: right;
    font-size: 30px;
    margin-top: -4%;
}